/* font-family: 'Nerko One', cursive; */
/* font-family: 'Poppins', sans-serif; */

/* header */
header {
    background: #2A9D8F;
    width: 1440px;
    margin: 0 auto;
    padding: 38px 130px;
}

.logo1 {
    display: inline-block;
    vertical-align: middle;
    /* background-color: red; */
}

.navbar {
    /* background-color: blanchedalmond; */
    margin-left: 357px;
    display: inline-block;
    vertical-align: middle;
}

.li1 {
    display: inline;
}

.navlist {
    font-family: 'Nerko One', cursive;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.middle_text {
    margin: 51px;
    ;
}

.button1 {

    border: none;
    font-family: 'Poppins', sans-serif;
    vertical-align: middle;
    display: inline-block;
    padding: 8px 16px;
    margin-left: 335px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #2A9D8F;
}

/* Title and text */
.title_div {
    margin: auto;
    /* background-color: red; */
    width: 1440px;
}

.title1 {
    color: #4D4D4D;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    font-family: 'Poppins', sans-serif;
    margin: 200px 548px 60px 548px;
}

.article1 {
    margin: 0 330px 52px 330px;
    font-family: 'Nerko One', cursive;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #656565;
}

/* section 1 */
.section1 {
    width: 1440px;
    margin: 0 auto;
    background: #C2F3EE;
    padding: 80px 130px;
}

.img_1 {
    display: inline-block;
    vertical-align: top;

}


.article_div {
    display: inline-block;
    width: 457px;
    margin-left: 115px;
}

.title2 {

    /* background-color: red; */
    /* margin-left: 123px; */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #272727;
}

.title3 {
    font-family: 'Poppins', sans-serif;
    margin-top: 27px;
    color: #515151;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.button2 {
    font-family: 'Poppins', sans-serif;
    width: 113px;
    background: #2A9D8F;
    border: none;
    padding: 11px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 56px;
}

/* section 2 */
.section2 {
    width: 1440px;
    margin: 0 auto;
    padding: 200px 130px;
}

.title4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    color: #4D4D4D;
    margin-left: 360px;
    margin-bottom: 54px;
}

.image_nature {
    margin-right: 12px;
}

.imagetexts {
    display: inline-block;


}

.image_text {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #535353;


}

.text5 {
    margin-left: 80px;
}

/* footer */
footer {
    margin: auto;
    width: 1440px;
    background: #2A9D8F;
    padding: 90px 130px 145px 130px;

}

.footer_logo {
    display: inline-block;
    vertical-align: top;
    /* background-color: red; */
}

.frame3 {
    display: inline-block;
}
/* footer box1 */
.box1{
    margin-left: 634px;
    
}
.li2 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 21px;
}

.li3 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 27px;
}
.middleli{
    margin: 8px 0;
}
/* box2 */
