/* font-family: 'Nerko One', cursive; */
/* font-family: 'Poppins', sans-serif; */

/* header */
header {
    background: #2A9D8F;
    width: 1440px;
    margin: 0 auto;
    padding: 38px 130px;
}

.logo1 {
    display: inline-block;
    vertical-align: middle;
    /* background-color: red; */
}

.navbar {
    /* background-color: blanchedalmond; */
    margin-left: 357px;
    display: inline-block;
    vertical-align: middle;
}

.li1 {
    display: inline;
}

.navlist {
    font-family: 'Nerko One', cursive;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.middle_text {
    margin: 51px;
    ;
}

.button1 {

    border: none;
    font-family: 'Poppins', sans-serif;
    vertical-align: middle;
    display: inline-block;
    padding: 8px 16px;
    margin-left: 335px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #2A9D8F;
}

/* Title and text */
.title_div {
    margin: auto;
    /* background-color: red; */
    width: 1440px;
}

.title1 {
    color: #4D4D4D;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    font-family: 'Poppins', sans-serif;
    margin: 200px 548px 60px 548px;
}

.article1 {
    margin: 0 330px 52px 330px;
    font-family: 'Nerko One', cursive;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #656565;
}